name: Build

on:
  push:
    branches: [ main ]

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: SonarQube Scan
        uses: SonarSource/sonarqube-scan-action@v7
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
          SONAR_HOST_URL: ${{ secrets.SONAR_HOST_URL }}

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: "20"
          cache: "npm"

      - name: Install dependencies
        run: npm ci

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.Dockerhub_username }}
          password: ${{ secrets.Dockerhub_token }}

      - name: Build and push image
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          tags: dleoma/swiggy-clone:latest

  deploy:
    name: Deploy
    needs: build
    runs-on: self-hosted

    steps:
      - name: Pull image
        run: docker pull dleoma/swiggy-clone:latest

      - name: Image scan
        run: trivy image dleoma/swiggy-clone:latest > trivyimagedeploy.txt

      - name: Upload Trivy scan report (file property update)
        uses: actions/upload-artifact@v4
        with:
          name: trivy-image-scan-report
          path: trivyimagedeploy.txt

      - name: Stop/remove existing container (if any)
        run: |
          docker rm -f swiggy-clone || true

      # If you used the Nginx Dockerfile (React build served on 80):
      - name: Deploy container
        run: docker run -d --name swiggy-clone -p 3000:80 dleoma/swiggy-clone:latest

      - name: Wait for container to be healthy (basic check)
        run: |
          sleep 10
          docker ps | grep swiggy-clone

      - name: Update kubeconfig
        run: aws eks --region us-east-1 update-kubeconfig --name EKS_CLOUD
      - name: Deploy to kubernetes
        run: kubectl apply -f deployment-service.yml.
